<style>
    .navbar-light .navbar-nav .nav-link {
        background-color: #333!important;
        color: #ffffff!important;
    }
</style>

@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "Logoff" }))
    {
        @Html.AntiForgeryToken()
        <ul id="login_nav" class="nav navbar-nav navbar-right">
            <li style="margin-top:10px" class="nav-item">
                
                @Html.ActionLink("Bonjour " + User.Identity.GetUserName(), "Index", "Manage", new { style = "background-color:bleu; text-decoration:none; padding:10px;color:black; background-color: #333!important; color: #ffffff!important;" })
                <i class="bi bi-person-check"></i>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="javascript:document.getElementById('Logoff').submit()">déconnexion <i class="bi bi-box-arrow-right"></i></a>
                
            </li>
        </ul>
    }
}
else
{
    <ul id="login_nav" class="nav navbar-nav navbar-right">
        <li class="nav-item">
            <a class="nav-link" href="~/Account/Login">Connexion</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/Account/Register">Inscription</a>
        </li>
    </ul>
}