@if (Request.IsAuthenticated)
{

    if (User.IsInRole("Recruteur"))
    {
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light"><a class="sidebar-heading border-bottom bg-light" style="text-decoration:none; font-size:25px;" href="~/DashboardAdmint/Index">Dashboard</a></div>
            <div class="list-group list-group-flush">
                @*<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Dashboard</a>*@
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="~/DashboardRecruteur/Home">Generale</a>
                @*<a class="list-group-item list-group-item-action list-group-item-light p-3" href="~/Categories/Index">Categories</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="~/Roles/Index">Roles</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="~/DashboardAdmint/Statistique">Statistiques</a>*@
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="~/DashboardRecruteur/Index">Mes Offres</a>
                @*<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Status</a>*@
            </div>
        </div>
    }
    else if (User.IsInRole("Admins"))
    {
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light"><a class="sidebar-heading border-bottom bg-light" style="text-decoration:none; font-size:25px;" href="~/DashboardAdmint/Index">Dashboard</a></div>
            <div class="list-group list-group-flush">
                @*<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Dashboard</a>*@
                @*<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Users</a>*@
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="~/Categories/Index">Categories</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="~/Roles/Index">Roles</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="~/DashboardAdmint/Statistique">Statistiques</a>
                <a class="list-group-item list-group-item-action list-group-item-light p-3" href="~/JobsAdmin1/Indexjob">Offres</a>
                @*<a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">Status</a>*@
            </div>
        </div>
    }


}